/* Reset & Global Styles */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: hsl(212, 45%, 89%);
   font-family: "Outfit", sans-serif;
   color: hsl(218, 44%, 22%);
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   padding: 20px;
}

.card {
   max-width: 90%;
   width: 340px;
   background-color: white;
   padding: 20px;
   border-radius: 15px;
   text-align: center;
   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
   transition: transform 0.3s ease-in-out;
}

.card:hover {
   transform: scale(1.02);
}

.card img {
   width: 100%;
   max-height: 300px;
   object-fit: contain;
   border-radius: 10px;
   display: block;
   margin: auto;
}

.card-content {
   margin: 12px 8px;
}

h1 {
   font-size: 22px;
   font-weight: 700;
   padding-bottom: 8px;
   color: hsl(218, 44%, 18%);
}

p {
   font-size: 15px;
   font-weight: 400;
   color: hsl(220, 15%, 55%);
   line-height: 1.5;
}

@media (max-width: 375px) {
   .card {
      width: 300px;
      padding: 16px;
   }

   h1 {
      font-size: 18px;
   }

   p {
      font-size: 14px;
   }
}
